@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

body {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--success-color);
}

p {
  max-width: 100ch;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper {
  flex-grow: 1;
  padding: 1rem;
}
