.Sidebar {
  width: var(--sidebar-width);
  padding: 1rem;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--inverted-secondar-color);
  transition: width 200ms;
  justify-content: space-between;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: 1rem;
  }
}
