.Sidebar {
  width: var(--sidebar-width);
  padding: 1rem;
  background-color: var(--inverted-bg-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
  color: var(--inverted-secondar-color);
  transition: width 200ms;
  justify-content: space-between;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin-top: 1rem;
  }
}