.app.dark {
  --bg-color: #2b2b3b;
  --inverted-bg-color: #f1ebeb;
  --primary-color: #f1ebeb;
  --secondar-color: #c76060;
  --inverted-primary-color: #2b2b3b;
  --inverted-secondar-color: #6f5007;
}
