body.dark {
  --bg-color: #2e2e3a;
  --text-color: #fffffa;
  --header-color: #242325;
  --error-color: #e71d36;
  --secondary-color: #5a7d7c;
  --link-color: #d6d5b3;
  --success-color: #618b25;
  --shadow-color: #fffffa40;
}
