// .app.light {
//  --bg-color: #f1ebeb;
//  --inverted-bg-color: #2b2b3b;
//  --primary-color: #2b2b3b;
//  --secondar-color: #742929;
//  --inverted-primary-color: #f1ebeb;
//  --inverted-secondar-color: #dfcf2e;
// }

.app.light {
  --bg-color: #fffaff;
  --text-color: #050401;
  --header-color: #242325;
  --error-color: #e71d36;
  --secondary-color: #5a7d7c;
  --link-color: #0e79b2;
  --success-color: #618b25;
}
