.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  & > * {
    padding: 0.5rem 1rem;
  }
}