.ErrorStub {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--font-size-l)
}

.button {
  margin-top: 2rem;
}